PORT=8787
HOST=0.0.0.0
APP_ORIGIN=http://localhost:5173
MAIL_PROVIDER=mock
MAIL_IMAP_HOST=mail.o7digitalgroup.com
MAIL_IMAP_PORT=993
MAIL_IMAP_SECURE=true
MAIL_SMTP_HOST=mail.o7digitalgroup.com
MAIL_SMTP_PORT=587
MAIL_SMTP_SECURE=false
MAIL_AUTH_USER=info@o7digitalgroup.com
MAIL_AUTH_PASS=change-me
MAIL_FROM_NAME=Olivier Steineur
COOKIE_SECRET=change-me
